@model CalcServiceModel

@{
    ViewData["Title"] = "PassUsingViewData";
}

<h2>PassUsingViewData</h2>
<p>Rand Value First : @ViewData["FirstValue"]</p>
<p>Rand Value Second : @ViewData["SecondValue"]</p>
<p>Add : @ViewData["Add"]</p>
<p>Sub : @ViewData["Sub"]</p>
<p>Mult : @ViewData["Mult"]</p>
<p>Div : @ViewData["Div"]</p>
