@model CalcServiceModel

@{
    ViewData["Title"] = "PassUsingModel";
}

<h2>PassUsingModel</h2>
<p><b>Rand Value First : @Model.FirstValue</b></p>
<p><b>Rand Value Second : @Model.SecondValue</b></p>
<p><b>Add :</b></p>
<p>@Model.FirstValue + @Model.SecondValue = @Model.Add</p>
<p>@Model.Sub</p>
<p>@Model.Mult</p>
<p>@Model.Div</p>