@model CalcServiceModel

@{
    ViewData["Title"] = "PassUsingViewBag";
}

<h2>PassUsingViewBag</h2>
<p>Rand Value First : @ViewBag.FirstValue</p>
<p>Rand Value Second : @ViewBag.SecondValue</p>
<p>Add : @ViewBag.Add</p>
<p>Sub : @ViewBag.Sub</p>
<p>Mult : @ViewBag.Mult</p>
<p>Div : @ViewBag.Div</p>