@model CalcServiceModel

@{
    ViewData["Title"] = "PassUsingServiceInjection";
}

<h2>PassUsingServiceInjection</h2>
<p>Rand Value First : @Model.FirstValue</p>
<p>Rand Value Second : @Model.SecondValue</p>
<p>Add : @Model.Add</p>
<p>Sub : @Model.Sub</p>
<p>Mult : @Model.Mult</p>
<p>Div : @(Model.SecondValue != 0 ? Model.Div.ToString() : "Деление на ноль невозможно.")</p>