@model CalcModel

<h2>Результаты вычислений (ViewBag)</h2>
<p>Первое число: @ViewBag.FirstValue</p>
<p>Второе число: @ViewBag.SecondValue</p>
<p>Сумма: @ViewBag.Sum</p>
<p>Разность: @ViewBag.Difference</p>
<p>Произведение: @ViewBag.Product</p>
<p>Частное: @ViewBag.Quotient</p>