@model CalcModel

<h2>Результаты вычислений (ViewData)</h2>
<p>Первое число: @ViewData["FirstValue"]</p>
<p>Второе число: @ViewData["SecondValue"]</p>
<p>Сумма: @ViewData["Sum"]</p>
<p>Разность: @ViewData["Difference"]</p>
<p>Произведение: @ViewData["Product"]</p>
<p>Частное: @ViewData["Quotient"]</p>
